/* Código Original, Evita el Plagio */

/* Import Google Fonts and Bootstrap Icons */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background: #ecc48c;
}

    .gradient-bg {
      position: fixed;
      inset: 0;
      filter: blur(120px);
      z-index: -1;
    }

/* Hamburguesa */
.dpBurguer {
    display: none;
}

/* Navbar */
nav {
    display: block;
    width: 100%;
    height: 50px;
}

.dpNavSec {
    display: inline-block;
    font-size: 0;
    margin: 0 24px;
    vertical-align: top;
}

.dpMyRight {
    display: inline-block;
    position: absolute;
    right: 0;
}

.dpMyHeader {
    margin: 10px;
    font-size: 24px;
}

.dpNavLink {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 7px 14px;
    margin: 7px 0;
    font-size: 18px;
}

.dpNavLink:hover {
    background: white;
}

.dpButtonGreen {
    background-color: none;
    background-color: lightgreen;
}

/* Footer */
footer {
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px;
}

.dpFootSec {
    flex: 1;
    min-width: 400px;
    padding: 24px;
}

.dpFootLink {
    color: black;
    text-decoration: none;
    display: inline-block;
    padding: 7px;
    margin: 7px 0;
    font-size: 18px;
}

.dpFootLink:hover {
    background: white;
}

/* Landing */
.dpMain {
    display: block;
    min-height: calc(100vh - 50px);
}

.myLanding {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 50px);
    align-items: center;
}

.myLandingSec {
    flex: 1;
    width: 50%;
    min-width: 400px;
    overflow: hidden;
    padding: 60px;
}

.myLandingSec h2 {
    font-size: 32px;
    margin: 21px 0;
}

.myLandingSec p {
    font-size: 24px;
}

/* Carrusel */

    .dpMyCarruselLimit {
        display: inline-block;
        overflow: hidden;
        width: 75%;
        margin: 0 auto;
        vertical-align: middle;
    }

    .myCarruselButton {
        display: inline-block;
        color: black;
        border: none;
        padding: 7px 14px;
        margin: 7px 0;
        font-size: 18px;
        background: none;
    }

    .myCarruselButton:hover {
        cursor: pointer;
    }

    .dpMyCarrusel {
    white-space: nowrap;
    transition: transform 0.5s ease-in-out;
    font-size: 0;
    }

.MyCarruselContent {
    display: inline-block;
    width: 100%;
    height: 300px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    white-space: normal;
    font-size: 18px;
    padding: 20px;
    vertical-align: top;
}

.MyCarruselContent video {
    width: 100%;
}

.MyCarruselContent img {
    width: 100%;
}

.MyCarruselContent a {
    color: white;
    background: black;
    text-decoration: none;
    display: inline-block;
    padding: 7px 14px;
    margin: 7px 0;
    font-size: 18px;
}

/* Portafolio */
.myPortfolio {
    padding: 20px;
    text-align: center;
}

.myStarPortfolio {
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color: white;
    min-width: 80%;
    width: 250px;
    margin: 7px;
    vertical-align: top;
}

.myStarPortfolio h3, .myStarPortfolio p {
    margin: 12px 24px 12px;
}

.myStarPortfolio img {
    background: gainsboro;
    width: 100%;
    height: 100px;
}

.myFlexPort {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.myPortfolioDiv {
    flex: 0 0 250px;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    color: white;
    margin: 7px;
    vertical-align: top;
}


.myPortfolio h2 {margin: 24px;}
.myPortfolioDiv h3, .myPortfolioDiv p {
    margin: 12px 24px 12px;
}

.myPortfolioDiv img {
    background: gainsboro;
    width: 100%;
    height: 100px;
}

.myPortfolioDiv video, .myStarPortfolio video {
    width: 100%;
}


/* About us*/
.dpContentPadding {
    padding: 60px;

}

.dpContentPadding h2 {
    font-size: 32px;
}

.dpContentPadding p {
    font-size: 24px;
}

.dpContentPadding img {
    width: 200px;
    height: 200px;
    background: gray;
    display: inline-block;
    position: relative;
    right: 0;
}

@media (max-width: 800px) {
    /* Navbar */
nav {
    display: block;
    width: 100%;
    height: 50px;
}

.dpNavSec {
    display: inline-block;
    font-size: 0;
    margin: 0;
    vertical-align: top;
    width: 100%;
}

.dpMyRight {
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    background: gray;
    z-index: 2;
}

.dpMyHeader {
    margin: 10px;
    font-size: 24px;
}

.dpNavLink {
    color: black;
    text-decoration: none;
    display: block;
    width: 100vh;
    padding: 7px 14px;
    margin: 0;
    font-size: 18px;
}

.dpNavLink:hover {
    background: white;
}

.dpButtonGreen {
    background-color: none;
    background-color: lightgreen;
    margin-left: 0;
    width: 100%;
}

/* Hamburguesa */
.dpBurguer {
    display: inline-block;
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
}
}